LdM Dias 31-40/LdM Dia 34/relacion_final_xml (completa)/Ejer_16_y_17/Ejercicio_17.dtd

<!ELEMENT buzon ((paquete|carta)+)>
<!ATTLIST buzon
	codpostal CDATA #REQUIRED
>
<!ELEMENT paquete EMPTY>
<!ATTLIST paquete
	sellado CDATA #REQUIRED
	remitente CDATA #IMPLIED
	destinatario CDATA #REQUIRED
	dirRemitente CDATA #IMPLIED
	dirDestino CDATA #REQUIRED
>
<!ELEMENT carta EMPTY>
<!ATTLIST carta
	sellado CDATA #REQUIRED
	remitente CDATA #IMPLIED
	destinatario CDATA #REQUIRED
	dirRemitente CDATA #IMPLIED
	dirDestino CDATA #REQUIRED
>