LdM Dias 31-40/LdM Dia 34/relacion_final_xml (completa)/Ejer_5/FAQ.DTD

<!ELEMENT FAQ (INFO, PART+) >

<!ELEMENT INFO (TITULO, AUTOR, EMAIL, VERSION, FECHA)>
<!ELEMENT TITULO (#PCDATA)>
<!ELEMENT AUTOR (#PCDATA)>
<!ELEMENT EMAIL (#PCDATA)>
<!ELEMENT VERSION (#PCDATA)>
<!ELEMENT FECHA (#PCDATA)>

<!ELEMENT PART (Q+)>
<!ELEMENT Q (QTEXT, A)>
<!ELEMENT QTEXT (#PCDATA)>
<!ELEMENT A (#PCDATA)>

<!ATTLIST PART 
    number NMTOKEN #REQUIRED    
>
<!ATTLIST Q 
    id NMTOKEN #REQUIRED    
>

