LdM Dias 31-40/LdM Dia 34/relacion_final_xml (completa)/Ejer_8/xhtml.dtd

<!ELEMENT html (head, body)>

<!ENTITY iacute "í">

<!ATTLIST html
	xmlns CDATA #REQUIRED
>

<!ELEMENT head (meta, title)>
<!ELEMENT meta EMPTY>
<!ATTLIST meta
	http-equiv CDATA #REQUIRED
	content CDATA #REQUIRED
>
<!ELEMENT title (#PCDATA)>

<!ELEMENT body (p*)>
<!ATTLIST body
	bgcolor CDATA #REQUIRED
>

<!ELEMENT p (#PCDATA)>
<!ATTLIST p
	align CDATA #IMPLIED
>